---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import HouseRules from "../components/HouseRules.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>186 Cats</title>
  </head>
  <body>
    <BaseLayout>
      <p class="text-center text-xl lg:text-2xl">
        Dear <span class="line-through">inivitee</span><span
          class="text-red-400 bg-yellow-100"
        >
          Rachel,</span
        >
      </p>

      <Hero />
      <HouseRules />
      <p class="text-center">Looking forward to seeing you!</p>
    </BaseLayout>
  </body>
</html>
