---
interface Props {
  date: string;
  invitee: string;
}
const { date, invitee } = Astro.props;
---

<p class="text-center text-xl lg:text-2xl">
  Dear <span class="line-through">inivitee</span><span
    class="text-red-400 bg-yellow-100"
  >
    {invitee},</span
  >
</p>

<div class="flex justify-center">
  <img
    src="/cat_pics/import_cat_pic.jpg"
    width="838"
    height="637"
    class="w-full md:w-3/4 lg:w-1/2 h-auto"
    alt="import cat image"
  />
</div>

<h1 class="text-center text-2xl px-10 lg:text-4xl">
  <span class="block">Humans are away</span>
  <span class="block text-yellow-200">{date}!</span>
  <span class="block">
    <span>Come and hava a</span>
    <span class="text-[#ff6200]">house party!</span>
    <span class="text-[#4399de]"> Wet food on us!</span></span
  >
</h1>

<div class="mt-2 flex justify-center px-10">
  <a
    class="animate-pulse text-center lg:text-xl bg-gray-400 px-1 py-2 border-black border-2"
    target="_blank"
    href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NmZkMDBzZ2tjMXJtNm9kaWx1N3JwNzhqdjEgd2VzbGV5bWhqQG0&tmsrc=wesleymhj%40gmail.com"
    >Add to your Google Calenar</a
  >
</div>
