<h2 class="text-center text-3xl text-pink-500 mt-5">Party details</h2>
<p class="text-center px-10">When you arrive, please do the following!!</p>
<section class="mt-5">
  <h3 class="px-10 text-center text-xl text-blue-600 bg-yellow-300">
    1. Change our water plz. We like drink!!!
  </h3>
  <p class="text-center px-10">
    Human man made a video on how to use the fountain!!!
  </p>
  <div class="flex justify-center">
    <iframe
      width="300"
      height="300"
      src="https://www.youtube.com/embed/7lyMjEM18E0?controls=0"
      title="how to change water"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>

<section class="mt-5">
  <h3 class="px-10 text-center text-xl text-yellow-900 bg-blue-100">
    2. Change our litter hehe. We are stinky!!!
  </h3>
  <p class="text-center px-10">
    This is where humans keep the litter and shovel hehe!!!
  </p>
  <div class="flex flex-col items-center gap-y-2">
    <img
      src="/cat_pics/litter_1.jpeg"
      width="300"
      height="399"
      class="w-4/5 lg:w-1/2 h-auto"
      loading="lazy"
    />
    <img
      src="/cat_pics/litter_2.jpeg"
      width="300"
      height="399"
      class="w-4/5 lg:w-1/2 h-auto"
      loading="lazy"
    />
  </div>
  <p class="text-center text-purple-400 px-10">
    There are three litter boxes to change!!!
  </p>
</section>

<section class="mt-5">
  <h3 class="px-10 text-center text-xl text-yellow-300 bg-blue-500">
    3. Brush us!!! We are so fluffy!!!
  </h3>
  <p class="text-center px-10">We actually luv the linter!</p>
  <p class="text-center px-10">Human will demonstrate how to brush!!!</p>
  <div class="flex justify-center">
    <iframe
      width="300"
      height="300"
      src="https://www.youtube.com/embed/IUJ_SGBPWy8?controls=0"
      title="how to change water"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>

<section class="mt-5">
  <h3 class="px-10 text-center text-xl text-red-500 bg-blue-100">
    4. Don't forget to check we still have foood!!!
  </h3>
  <p class="text-center px-10">Help out a brother</p>
  <div class="flex justify-center">
    <img
      src="/cat_pics/gentleman_lick.jpg"
      width="300"
      height="399"
      class="w-4/5 lg:w-1/2 h-auto"
      loading="lazy"
    />
  </div>
</section>
